@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
    body { background: #414141; color: rgb(59 130 246); }
}

@media (prefers-color-scheme: light) {
    body { background: #f1f1f1; color: rgb(59 130 246); }
}
