.hover-pointer:hover {
    cursor: pointer;
}

.map-menu {
    border-right: 2px solid #ccc;
}

.map-menu-header {
    font-size: 19px;
    border-bottom: 1px solid #ccc;
}

.map-menu-header span {
    font-weight: bold;
}

.map-menu-hide {
    width: 0% !important;
}

.map-menu-show-btn {
    position: absolute;
    right: -30px;
    top: 47%;
    width: 30px;
    height: 40px;
    font-size: 25px;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-right: 2px solid #ccc;
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 999;
}

.map-menu-show-btn i {
    position: absolute;
    top: 15%;
    left: 15%;
}

.map-menu-body-base-header span,
.map-menu-body-overlay-header span,
.add-feature-window-header span {
    font-weight: bold;
    font-size: 17px;
}

.map-notification-container {
    position: absolute;
    right: 0%;
    bottom: 0%;
    margin-right: 10px;
    margin-bottom: 20px;
    min-height: 30px;
    max-width: 25vw;
    z-index: 999;
}

.feature-list-window {
    position: fixed;
    right: 0%;
    top: 25%;
    bottom: 25%;
    width: 20%;
    height: 50%;
    background-color: #fff;
    z-index: 999;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid #ccc;
    overflow-y: scroll;
}

.feature-list-window-header {
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.feature-list-window-body {
    padding-left: 10px;
    padding-right: 10px;
}

.feature-component {
    border-bottom: 1px solid #ccc;
    padding-top: 5px;
    padding-bottom: 5px;
}

.feature-component-key {
    font-weight: bold;
}

.notification-success {
    background-color: rgba(34, 139, 34, 0.35);
    border: 2px solid #01c71b;
    border-radius: 5px;
}

.notification-error {
    background-color: rgba(255, 0, 0, 0.35);
    border: 2px solid #d00303;
    border-radius: 5px;
}

.notification-info {
    background-color: rgba(0, 81, 255, 0.35);
    border: 2px solid #0325d0;
    border-radius: 5px;
}

.identify-all-btn {
    position: absolute;
    right: 0%;
    top: 0%;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5%;
    width: 38px;
    height: 38px;
    text-align: center;
    z-index: 999;
    font-size: 22px;
}

.identify-all-btn i {
    position: absolute;
    top: 17%;
    left: 39%;
}

.identify-all-btn.active {
    background-color: #fff;
    border: 2px solid rgba(204, 194, 0, 0.4);
    color: #e8e800;
}

.identify-popup-window {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 350px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 2%;
    z-index: 998;
}

.identify-popup-window-header {
    height: 36px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.identify-popup-window-body {
    height: 360px;
    overflow-y: scroll;
}

.identify-window-body-entry-header {
    font-weight: bold;
    font-size: 17px;
}

.identify-window-body-entry {
    border-bottom: 1px solid #ccc;
}

.close-identify-btn {
    position: absolute;
    right: 3%;
}

.map-menu-add-feature-btn {
    color: #007712;
    font-size: 24px;
}

.add-feature-window {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(88, 88, 88, 0.35);
    z-index: 100000;
}

.add-feature-window-form {
    width: 50%;
    height: 70%;
    position: fixed;
    top: 15%;
    left: 25%;
    right: 25%;
    background-color: #fff;
    border-radius: 5px;
}

.add-feature-window-header {
    border-bottom: 1px solid #ccc;
}

.new-geojson-form input,
.new-wms-form input {
    height: 35px;
    padding-left: 5px;
}

.new-wms-form textarea {
    resize: none;
}

.add-tab-btn.active {
    color: #007712;
}

.map-menu-layer .delete-file-btn {
    color: rgba(255, 0, 0, 0.35);
}